# Maven
**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.restore
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iml
*.ipr
*.iws
.settings/
.classpath
.project
.factorypath

# Compiled Java class files
**/bin/
*.class

# Maven installation folder
apache-maven-3.9.6/

# OS files
.DS_Store
Thumbs.db
